@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*Based on login by Tyler Fry on codepen--!>*/

html { width: 100%; height:100%; overflow:hidden; }
body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	background-image: url("https://i.imgur.com/Q2DF8p4.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.logo{
	display: block;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.index{
	width:800x;
	height:200px;
	margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	display: block;
}
.github{
	width: 500px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 100px;
}
.login-button{
	margin-left: 50px;
	float:left;
}
.register-button{
	margin-right: 50px;
	float:right;
}
