<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 
   <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MiniGameServlet</servlet-name>
    <servlet-class>servlet.MiniGameServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>EditorServlet</servlet-name>
    <servlet-class>servlet.EditorServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>servlet.StartServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>servlet.GameServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>servlet.MapServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>servlet.InventoryServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>LinearServlet</servlet-name>
    <servlet-class>servlet.LinearServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>HealthServlet</servlet-name>
    <servlet-class>servlet.HealthServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LineParaServlet</servlet-name>
    <servlet-class>servlet.LineParaServlet</servlet-class>
  </servlet>
  
  
  <!-- Servlet mappings -->
  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>EditorServlet</servlet-name>
    <url-pattern>/editor</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  	
   <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/inventory</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>LinearServlet</servlet-name>
    <url-pattern>/linear</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>HealthServlet</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>MiniGameServlet</servlet-name>
    <url-pattern>/mini</url-pattern>
   </servlet-mapping>
   
  <servlet-mapping>
    <servlet-name>LineParaServlet</servlet-name>
    <url-pattern>/linePara</url-pattern>
  </servlet-mapping>
  
 
</web-app>
